.filterbox {
    min-height: 100vh;
    max-height: 100%;
    align-items:unset;
    position: relative;;

}


@media screen and (max-width:  860px) {
    .filterbox {
        height: 100vh;
    }

  }


.filtercontainer {
    position: absolute;
    left: 0;
    width: 200px;
    border-right: 0.5px solid var(--text_color_secondary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 30px 50px 30px;
    margin-right: 10px;
    gap: 30px;
    background-color: var(--main_box_color);
    z-index: 4;
    height: 100%;
    overflow: auto;
}

@media screen and (max-width:  860px) {
    .filterbox {
        height: 100vh;
    }
    .filtercontainer {
        display: none;
    }

    .filtercontainer.close {
        display: none;
    }

    .filtercontainer.open {
        display: flex;
    }

    
  }


.filtercontainer .filtertype {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtercontainer .filtertype .radioinput {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.filtercontainer .filtertype.row {
    flex-direction: row
}

.filtercontainer .filtername {
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid var(--text_color_secondary);
}