.productdetailbox {
    display: grid;
    grid-template-columns: 50% auto;
    padding: 60px 80px;
}



.productdetailbox .slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productdetailbox .slider .slider-embillish {
    border-radius: 5px;
    border: 3px solid #fff;
}

.productdetailbox .detailscontainer {
    margin-left: 80px;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.productdetailbox .brand {
    font-size: 28px;
    font-weight: 600;
}

.productdetailbox .name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.productdetailbox .price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    color: var(--text_color_higlight);
    margin-bottom: 10px;
}

.productdetailbox .actions {
    margin-top: 20px;
}

.productdetailbox .actions button {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.productdetailbox .detailscontainer .title {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 5px;
    width: 80px;
    font-weight: 500;
    border-bottom: 0.5px solid #ccc;
    margin-bottom: 10px;
}

.productdetailbox .description {
    margin-top: 50px;
    font-size: 16px;
    line-height: 2;
}

.productdetailbox .description .title {
    display: block;
    line-height: normal;
}

.productdetailbox .detailscontainer .optionsbox {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    align-items: center;
}

.productdetailbox .detailscontainer .optionsbox .options {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 35px;
    left: -2.5px;
    padding: 5px;
    background-color: #fff;
}

.productdetailbox .detailscontainer .optionsbox button .icon {
    margin: 0;
}
.optionsbox .options li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 0.5px solid #ccc;
}



@media screen and (max-width:  450px) {
    .productdetailbox {
     grid-template-columns: auto;
     padding: 30px 10px;
    }

    .productdetailbox .detailscontainer {
        margin-top: 30px;
        margin-left: 10px;
    }

 }
 