.sliderbox {
    position: relative;
    display: flex;
    gap: 10px;
}



.slider-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 350px;
    width: 250px;
    overflow: hidden;
    box-sizing: border-box;
}

.slider-container .slider {
    display: inline-flex;
    align-items: center;
    transform: translateX(0);
    transition: transform 0.3s ease-in;
}

.slider-container .slider img {
    object-fit: cover;
}


.slider-container .slide-button {
    position: absolute;
    top: calc(50% - 10px);
    font-size: 16px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.slider-container:hover .slide-button {
    visibility: visible;
}

.slider-container .slide-button.left {
    left: 2px;
}

.slider-container .slide-button.right {
    right: 2px;
}

.slider-container .indicators {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    right:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.slider-container .indicators .indicator {
    padding: 2px;
    margin: 0 3px;
    height: 1px;   
    width: 1px;
    border-radius: 50%;
    border: 2px solid white;
}

.slider-container .indicators .indicator.active {
    background-color: var(--text_color_higlight);
}

.slider-container .indicators .indicator:hover {
    background-color: white;
}

.sliderbox .minimap  {
    top: 0;
    right: -10px;
    padding: 0 5px;
    overflow: auto;
    width: 100px;
    display: flex;
    flex-direction: column;
}


.sliderbox .minimap::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}

.sliderbox .minimap::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 20px;
}

.sliderbox .minimap::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 20px;
}

.sliderbox .minimap::-webkit-scrollbar-thumb:hover {
    background: var(--text_color_higlight);
    border-radius: 20px;
}

.sliderbox .minimap .minimapimg {
    margin: 3px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px solid transparent
}


.sliderbox .minimap .minimapimg:hover {
    border: 3px solid #fff;
}


.sliderbox .minimap .minimapimg.active {
    border: 3px solid var(--text_color_higlight);
} 

@media screen and (max-width:  450px) {
    .sliderbox {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sliderbox .minimap {
        height: 100px;
        width: auto;
        max-width: calc(100vw - 40px);
        overflow: auto;
        flex-direction: row;
        padding: 5px 0px;
    }
}
